.home {
  margin-top: 7em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .home-top-content {
    display: flex;
    min-height: 86vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 3em;
    padding-right: 3em;
    .home-left-content {
      max-width: 40%;
      min-width: 400px;
      box-sizing: border-box;
      padding: 2em;
      img {
        margin-top: 2em;
        max-width: 100%;
        min-width: 300px;
        height: auto;
      }
    }
    .home-right-content {
      max-width: 40%;
      min-width: 400px;
      box-sizing: border-box;
      padding: 2em;
      .home-right-textbox {
        margin: 3em auto;
        size: 3em;
      }
    }
  }
}
